
/*{
    "name": "",
    "icons": [
        {
            "src": "/android-chrome-192x192.png",
            "sizes": "192x192",
            "type": "image/png"
        },
        {
            "src": "/android-chrome-256x256.png",
            "sizes": "256x256",
            "type": "image/png"
        }
    ],
    "theme_color": "#afdaff",
    "background_color": "#afdaff",
    "display": "standalone"
}*/

body {
  background-color: #fff;
  color: #2c599e;
  margin: 0;
}

/*#nav {
padding-left: 80%;
position: fixed;
margin: 0;
text-decoration: none;
}

ul #navigation{
  list-style-type: none;
  text-decoration: none;

}
<section id="nav">
<ul id="navigation">
  <li><a href="#texte">Présentation</a></li>
  <li><a href="#mywork">Création</a></li>
  <li><a href="#footer">Coordonnées</a></li>
</ul>
</section>*/

section {
  /*max-width: 46em;*/
/*margin-right: 70px;*/
  position: relative;
  /* background-image: url(vitruve.png);
  background-size: 700px;
  background-clip: 0px;
  background-repeat: no-repeat;
  background-origin: inherit;
  background-position-x: -100px;
  background-position-y: 50px;*/
}

.vitruve {
  /*padding-left: 650px;*/
background-image: url(vitruve.png);
position: relative;
  background-size: 700px;
  background-repeat: no-repeat;
  background-position-x: -70px;
  background-position-y: 40px;
  min-height: 80vh;
}

.vitruve .textes {
  position: absolute;
  /*padding-left: 50%;
  padding-right: 80px;
  padding-top: 90px;
    padding-bottom: 90px;*/
    padding: 90px;
    margin-left: 600px;

}





header {
  background-color: #afdaff;
  color: #fff;
  padding: 2em;
  padding-top: 3em;
  position: relative;
  overflow: visible;
  min-height: 40vh;
}

header::after {
  content: " ";
  display: block;
  width: auto;
  min-height: 40vh;;
  position: absolute;
  bottom: -22px;
  left: 50%;
  background-color: #04304f;
  transform: translateX(-50%) rotate(45deg);

}

.menu {
  position: absolute;
  right:0;
  margin-right: 50px;
}

.menu img {
min-height: 50px;
max-width: 60px;
}

.menu a {
  text-decoration: none;
}

.prenom {
  display: flex;
}


.photo {
  width: 280px;
}
.photo img{
  width: 100%;
}

.info {
  width: auto;
}

.arrow-down {
  width: 0;
  height: 0;
  display: block;
  border-left: 700px solid transparent;
  border-right: 700px solid transparent;
  position: absolute;
  bottom: -59px;
  border-top: 60px solid #afdaff;
    left: 50%;
    transform: translateX(-50%);
    overflow: visible;
}

/*.fleche {
  width: 0;
  height: 0;
  border-left: 700px solid transparent;
  border-right: 700px solid transparent;

  border-bottom: 60px solid #afdaff;
transform: translateX(-50%);
  left: 50%;
  position: absolute;
  display: block;
  bottom: -315px;
}*/

.fleche2 {
  width: 0;
  height: 0;
  display: block;
  border-left: 700px solid transparent;
  border-right: 700px solid transparent;
  position: absolute;
  top: -1.1em;
  border-top: 60px solid #2c599e;
    left: 50%;
    transform: translateX(-50%);
}

.comp h2 {
  padding-top: 50px;
  padding-left: 50px;
  margin: 0;
}
.comp {
  background-image: url(couv.png);
  background-size: cover;
  background-repeat: no-repeat;
background-attachment: fixed;
}


.competences {
  display: flex;
  padding: 50px;
  justify-content: space-between;
}

.comp-content {
  width: auto;
  margin: 20px;
  text-align: center;

}

.comp-content img {
  width: 80%;
  flex-grow: 1;

}



/*.pub {
background-image: url(pub_image.jpg);
  background-size: cover;
  min-height: 70vh;
  background-attachment: fixed;
  position: relative;
}

.pub .container {
position: absolute;
  padding: 90px;
}
*/

/*.competences {

  /*display: inline-block;
margin: 0 auto;
background-image: url(pub_image.jpg);
background-size: cover;
  background-attachment: fixed;
padding: 30px;

}

.textes ul {

}

.competences img {
  max-width: 250px;
padding: 30px;

}


.competences ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
   justify-content: center;

}*/
/*
.comp {

margin: 0 auto;
background-image: url(couv.png);
background-size: cover;
  background-attachment: fixed;
padding: 30px;
}

.competences img {
  max-width: 250px;
padding-left: 20px;
padding-right: 20px;

}

.competences ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
   justify-content: center;

}


.mot li {
  list-style-type: none;
padding-left: 100px;
padding-right: 100px;

}

.titre {
left: 50%;
right: 50%;
padding-left: 50px;
}*/

.mywork ul {
  list-style-type: none;
background-color: #2c599e;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding: 50px;
margin: 0;
}


.mywork img {
max-width: 300px;
flex-grow: 1;
border: 5px solid #2c599e;
transition-duration: 0.8s;
background-color: rgba(255, 225, 91, 0);
}

.mywork{
background:#fff;
display:inline-block;
}

.mywork img:hover{
  width: 300px;
  height: 300px;
  opacity: 0;
  background-image: none;
background-color: rgba(255, 225, 91, 1);

}

.texte ul {
  list-style-type: none;
background-color: #2c599e;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  padding: 50px;
}

footer {
  background-color: #fff;
  position: relative;
  min-height: 20vh;
  padding: 10px;
  padding-top: 50px;
  display: flex;
}

footer a {
    color: #2c599e;
    text-decoration: none;
}

.linklist {
  list-style-type: none;
  position: absolute;
align-self: flex-start;
display: inline-flex;
align-items: center;
}

.linklist li {

}

.linklist img {
  max-width: 50px;

}

.coordonnees {
  position: absolute;
  right:0;
  margin-right: 50px;

}

/*smartphone*/

@media (max-width: 900px) {
  .linklist {
    list-style-type: none;
    position: absolute;
    padding-left: 20px;
    padding-top: 10px;

}

.linklist img {
  max-width: 40px;
  align-content: flex-start;
  display: flex;
  flex-wrap: wrap;

}

  .coordonnees {

    left : 0;
    margin-left: 30px;
    margin-top: 60px;
  }

  .vitruve .textes {
padding: 30px;
padding-top: 50px;
margin: auto;
}

.vitruve {
  background-image: url(vitruve2.png);
    background-size: 600px;
    background-repeat: no-repeat;
    background-position-x: -50px;
    background-position-y: 100px;
    min-height: 80vh;
}

.fleche {
  width: 0;
  height: 0;
  border-left: 700px solid transparent;
  border-right: 700px solid transparent;

  border-bottom: 60px solid #afdaff;
transform: translateX(-50%);
  left: 50%;
  position: absolute;
  display: block;
  bottom: -455px;
}

.pub {
background-image: url(pub_image.jpg);
  background-size: cover;
  min-height: 70vh;
  background-attachment: scroll;
  background-repeat: no-repeat;
  position: relative;
}

.pub .container {
  /*position: absolute;*/
  padding-top: 30px;
margin-left: 0;
}

.competences {
  display: inline-flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: center;
}
.comp {
  background-color: #7fb0db;
  background-image: none;
}
.comp-content img {
  width: 200px;
  flex-grow: 1;

}

.prenom {
  display: block;
}


.photo {
  width: 280px;
  margin-left: -50px;
}
.photo img{
  width: 80%;
}

.info {
  width: auto;
}


}


}
